## Function to get user selection of the main drink and provide list of options

In [1]:
import pandas as pd
import requests
import json
import matplotlib
#pd.options.display.max_rows = 999
#pd.options.display.max_columns = 999

%matplotlib inline

In [2]:
# Search for drink category
def drink_main(main):
    url = f"https://www.thecocktaildb.com/api/json/v1/1/filter.php?i={str(main)}"
    r = requests.get(url)
    df = pd.DataFrame(r.json()["drinks"])
    return df.dropna(axis='columns', how='all')

In [3]:
drink_main("Gin")

,strDrink,strDrinkThumb,idDrink
0,3-Mile Long Island Iced Tea,https://www.thecocktaildb.com/images/media/dri...,15300
1,69 Special,https://www.thecocktaildb.com/images/media/dri...,13940
2,A1,https://www.thecocktaildb.com/images/media/dri...,17222
3,Abbey Cocktail,https://www.thecocktaildb.com/images/media/dri...,17834
4,Abbey Martini,https://www.thecocktaildb.com/images/media/dri...,17223
...,...,...,...
90,Tuxedo Cocktail,https://www.thecocktaildb.com/images/media/dri...,12420
91,Vesper,https://www.thecocktaildb.com/images/media/dri...,17218
92,Victor,https://www.thecocktaildb.com/images/media/dri...,12450
93,Waikiki Beachcomber,https://www.thecocktaildb.com/images/media/dri...,12474
94,White Lady,https://www.thecocktaildb.com/images/media/dri...,17194

In [4]:
# needs to be exact
# list of different categories for this db
url_list_origin = "https://www.thecocktaildb.com/api/json/v1/1/list.php?i=list"
ra = requests.get(url_list_origin)
df = pd.DataFrame(ra.json()["drinks"])
df

         strIngredient1
0             Light rum
1             Applejack
2                   Gin
3              Dark rum
4        Sweet Vermouth
..                  ...
95                 7-Up
96    Blackberry brandy
97  Peppermint schnapps
98      Creme de Cassis
99         Jack Daniels

[100 rows x 1 columns]