## Dict to rename columns and List to re-arrange order

In [1]:
# Only consider values that we might want to rename, droped columns are NOT included
drinks_columns_dict =  {"strDrink":"Drink Name",
                        "strCategory":"Category", 
                        "strIBA":"IBA", 
                        "strAlcoholic": "Alcoholic", 
                        "strGlass":"Glass Type",
                        "strIngredient1":"ingredient 1",
                        "strMeasure1": "Measure 1",
                        "strIngredient2":"ingredient 2",
                        "strMeasure2": "Measure 2",
                        "strIngredient3":"ingredient 3",
                        "strMeasure3": "Measure 3",
                        "strIngredient4":"ingredient 4",
                        "strMeasure4": "Measure 4",
                        "strIngredient5":"ingredient 5",
                        "strMeasure5": "Measure 5",
                        "strIngredient6":"ingredient 6",
                        "strMeasure6": "Measure 6",
                        "strIngredient7":"ingredient 7",
                        "strMeasure7": "Measure 7",
                        "strIngredient8":"ingredient 8",
                        "strMeasure8": "Measure 8",
                        "strIngredient9":"ingredient 9",
                        "strMeasure9": "Measure 9",
                        "strIngredient10":"ingredient 10",
                        "strMeasure10": "Measure 10",
                        "strIngredient11":"ingredient 11",
                        "strMeasure11": "Measure 11",
                        "strIngredient12":"ingredient 12",
                        "strMeasure12": "Measure 12",
                        "strIngredient13":"ingredient 13",
                        "strMeasure13": "Measure 13",
                        "strIngredient14":"ingredient 14",
                        "strMeasure14": "Measure 14",
                        "strIngredient15":"ingredient 15",
                        "strMeasure15": "Measure 15",
                      }

# in the code will be as simple as replace the columns directly in the df.rename(columns=drinks_columns_dict)

In [2]:
# drink columns re-arranged, we need to include BEFORE dropna to ensure we include every pair Ingredient/Measure
drink_columns_rearranged = ['idDrink',
                            'strDrink',
                            'strDrinkAlternate',
                            'strDrinkES',
                            'strDrinkDE',
                            'strDrinkFR',
                            'strDrinkZH-HANS',
                            'strDrinkZH-HANT',
                            'strTags',
                            'strVideo',
                            'strCategory',
                            'strIBA',
                            'strAlcoholic',
                            'strGlass',
                            'strInstructions',
                            'strInstructionsES',
                            'strInstructionsDE',
                            'strInstructionsFR',
                            'strInstructionsZH-HANS',
                            'strInstructionsZH-HANT',
                            'strDrinkThumb',
                            'strIngredient1',
                            'strMeasure1',
                            'strIngredient2',
                            'strMeasure2',
                            'strIngredient3',
                            'strMeasure3',
                            'strIngredient4',
                            'strMeasure4',
                            'strIngredient5',
                            'strMeasure5',
                            'strIngredient6',
                            'strMeasure6',
                            'strIngredient7',
                            'strMeasure7',
                            'strIngredient8',
                            'strMeasure8',
                            'strIngredient9',
                            'strMeasure9',
                            'strIngredient10',
                            'strMeasure10',
                            'strIngredient11',
                            'strMeasure11',
                            'strIngredient12',
                            'strMeasure12',
                            'strIngredient13',
                            'strMeasure13',
                            'strIngredient14',
                            'strMeasure14',
                            'strIngredient15',
                            'strMeasure15',
                            'strCreativeCommonsConfirmed',
                            'dateModified']

# to replace the order dfa = dfa[drink_columns_rearranged]

In [3]:
# Equivalent for the meals
# Dict for rename columns
meal_columns_dict = {'strMeal':'Meal Name',
                     'strCategory':'Category',
                     'strArea':'Origin',
                     'strInstructions':'Instructions',
                     'strIngredient1': 'Ingredient 1',
                     'strMeasure1': 'Measure 1',
                     'strIngredient2':'Ingredient 2',
                     'strMeasure2':'Measure 2',
                     'strIngredient3': 'Ingredient 3',
                     'strMeasure3':'Measure 3',
                     'strIngredient4': 'Ingredient 4',
                     'strMeasure4':'Measure 4',
                     'strIngredient5': 'Ingredient 5',
                     'strMeasure5':'Measure 5',
                     'strIngredient6': 'Ingredient 6',
                     'strMeasure6':'Measure 6',
                     'strIngredient7': 'Ingredient 7',
                     'strMeasure7':'Measure 7',
                     'strIngredient8': 'Ingredient 8',
                     'strMeasure8':'Measure 8',
                     'strIngredient9': 'Ingredient 9',
                     'strMeasure9':'Measure 9',
                     'strIngredient10': 'Ingredient 10',
                     'strMeasure10':'Measure 10',
                     'strIngredient11': 'Ingredient 11',
                     'strMeasure11':'Measure 11',
                     'strIngredient12': 'Ingredient 12',
                     'strMeasure12':'Measure 12',
                     'strIngredient13': 'Ingredient 13',
                     'strMeasure13':'Measure 13',
                     'strIngredient14': 'Ingredient 14',
                     'strMeasure14':'Measure 14',
                     'strIngredient15': 'Ingredient 15',
                     'strMeasure15':'Measure 15',
                     'strIngredient16': 'Ingredient 16',
                     'strMeasure16':'Measure 16',
                     'strIngredient17': 'Ingredient 17',
                     'strMeasure17':'Measure 17',
                     'strIngredient18': 'Ingredient 18',
                     'strMeasure18':'Measure 18',
                     'strIngredient19': 'Ingredient 19',
                     'strMeasure19':'Measure 19',
                     'strIngredient20': 'Ingredient 20',                       
                     'strMeasure20':'Measure 20'
}

In [4]:
# list to re-arrange the order of the columns.
# in case of meals, it can be done after dropna, since every pair ingredient/measure is included always

meal_columns_rearranged = ['idMeal',
                            'strMeal',
                            'strCategory',
                            'strArea',
                            'strInstructions',
                            'strMealThumb',
                            'strYoutube',
                            'strIngredient1',
                            'strMeasure1',
                            'strIngredient2',
                            'strMeasure2',
                            'strIngredient3',
                            'strMeasure3',
                            'strIngredient4',
                            'strMeasure4',
                            'strIngredient5',
                            'strMeasure5',
                            'strIngredient6',
                            'strMeasure6',
                            'strIngredient7',
                            'strMeasure7',
                            'strIngredient8',
                            'strMeasure8',
                            'strIngredient9',
                            'strMeasure9',
                            'strIngredient10',
                            'strMeasure10',
                            'strIngredient11',
                            'strMeasure11',
                            'strIngredient12',
                            'strMeasure12',
                            'strIngredient13',
                            'strMeasure13',
                            'strIngredient14',
                            'strMeasure14',
                            'strIngredient15',
                            'strMeasure15',
                            'strIngredient16',
                            'strMeasure16',
                            'strIngredient17',
                            'strMeasure17',
                            'strIngredient18',
                            'strMeasure18',
                            'strIngredient19',
                            'strMeasure19',
                            'strIngredient20',                       
                            'strMeasure20',
                            'strSource']

In [5]:
# list of meal columns to drop
meal_columns_to_drop = ['idMeal', 'strMealThumb', 'strYoutube', 'strSource']

# Process to arrive to the result (just in case you are interested to check

In [6]:
import pandas as pd
import requests
import json

In [7]:
# function get meal based on id for testing
def get_meal_id(id):
    url = f"https://www.themealdb.com/api/json/v1/1/lookup.php?i={id}"
    r = requests.get(url)
    dfid = pd.DataFrame(r.json()["meals"])
    return dfid.dropna(axis='columns', how='all')

In [8]:
# get one meal as example
df = get_meal_id(52795)

In [9]:
# function to get a drink dataset
def drink_id(id):
    url = f"https://www.thecocktaildb.com/api/json/v1/1/lookup.php?i={id}"
    r = requests.get(url)
    dfid = pd.DataFrame(r.json()["drinks"])
    return dfid.dropna(axis='columns', how='all').drop(columns=['strInstructions','strInstructionsDE','strCreativeCommonsConfirmed'], axis=1)

In [10]:
# get one drink as example
df = drink_id(11007)

In [11]:
df

,idDrink,strDrink,strTags,strCategory,strIBA,strAlcoholic,strGlass,strDrinkThumb,strIngredient1,strIngredient2,strIngredient3,strIngredient4,strMeasure1,strMeasure2,strMeasure3,dateModified
0,11007,Margarita,"IBA,ContemporaryClassic",Ordinary Drink,Contemporary Classics,Alcoholic,Cocktail glass,https://www.thecocktaildb.com/images/media/dri...,Tequila,Triple sec,Lime juice,Salt,1 1/2 oz,1/2 oz,1 oz,2015-08-18 14:42:59

In [12]:
df.columns

Index(['idDrink', 'strDrink', 'strTags', 'strCategory', 'strIBA',
       'strAlcoholic', 'strGlass', 'strDrinkThumb', 'strIngredient1',
       'strIngredient2', 'strIngredient3', 'strIngredient4', 'strMeasure1',
       'strMeasure2', 'strMeasure3', 'dateModified'],
      dtype='object')

In [13]:
df.rename(columns={"idDrink":"Drink","strDrink":"Drink Name"})

,Drink,Drink Name,strTags,strCategory,strIBA,strAlcoholic,strGlass,strDrinkThumb,strIngredient1,strIngredient2,strIngredient3,strIngredient4,strMeasure1,strMeasure2,strMeasure3,dateModified
0,11007,Margarita,"IBA,ContemporaryClassic",Ordinary Drink,Contemporary Classics,Alcoholic,Cocktail glass,https://www.thecocktaildb.com/images/media/dri...,Tequila,Triple sec,Lime juice,Salt,1 1/2 oz,1/2 oz,1 oz,2015-08-18 14:42:59

In [14]:
ls_drop_columns = ["idDrink", "strTags", "strDrinkThumb","dateModified"]

In [15]:
df.drop(columns = ls_drop_columns)

,strDrink,strCategory,strIBA,strAlcoholic,strGlass,strIngredient1,strIngredient2,strIngredient3,strIngredient4,strMeasure1,strMeasure2,strMeasure3
0,Margarita,Ordinary Drink,Contemporary Classics,Alcoholic,Cocktail glass,Tequila,Triple sec,Lime juice,Salt,1 1/2 oz,1/2 oz,1 oz

In [16]:
drinks_columns_dict =  {"strDrink":"Drink Name",
                        "strCategory":"Category", 
                        "strIBA":"IBA", 
                        "strAlcoholic": "Alcoholic", 
                        "strGlass":"Glass Type",
                        "strIngredient1":"ingredient 1",
                        "strMeasure1": "Measure 1",
                        "strIngredient2":"ingredient 2",
                        "strMeasure2": "Measure 2",
                        "strIngredient3":"ingredient 3",
                        "strMeasure3": "Measure 3",
                        "strIngredient4":"ingredient 4",
                        "strMeasure4": "Measure 4",
                        "strIngredient5":"ingredient 5",
                        "strMeasure5": "Measure 5",
                        "strIngredient6":"ingredient 6",
                        "strMeasure6": "Measure 6",
                        "strIngredient7":"ingredient 7",
                        "strMeasure7": "Measure 7",
                        "strIngredient8":"ingredient 8",
                        "strMeasure8": "Measure 8",
                        "strIngredient9":"ingredient 9",
                        "strMeasure9": "Measure 9",
                        "strIngredient10":"ingredient 10",
                        "strMeasure10": "Measure 10",
                        "strIngredient11":"ingredient 11",
                        "strMeasure11": "Measure 11",
                        "strIngredient12":"ingredient 12",
                        "strMeasure12": "Measure 12",
                        "strIngredient13":"ingredient 13",
                        "strMeasure13": "Measure 13",
                        "strIngredient14":"ingredient 14",
                        "strMeasure14": "Measure 14",
                        "strIngredient15":"ingredient 15",
                        "strMeasure15": "Measure 15",
                      }

In [17]:
df.rename(columns=drinks_columns_dict)

,idDrink,Drink Name,strTags,Category,IBA,Alcoholic,Glass Type,strDrinkThumb,ingredient 1,ingredient 2,ingredient 3,ingredient 4,Measure 1,Measure 2,Measure 3,dateModified
0,11007,Margarita,"IBA,ContemporaryClassic",Ordinary Drink,Contemporary Classics,Alcoholic,Cocktail glass,https://www.thecocktaildb.com/images/media/dri...,Tequila,Triple sec,Lime juice,Salt,1 1/2 oz,1/2 oz,1 oz,2015-08-18 14:42:59

In [18]:
# function to check the max amount of ingredients in a cocktail
def drink_id_all(id):
    url = f"https://www.thecocktaildb.com/api/json/v1/1/lookup.php?i={id}"
    r = requests.get(url)
    dfid = pd.DataFrame(r.json()["drinks"])
    return dfid

In [19]:
# check one example of a complete drink dataset, maximum amount of ingredients/measures are 15
dfa = drink_id_all(11007)

In [20]:
# re-arrange order
# we might need to do it from the beginning to ensure no errors
# assign a list with a complete 
list_columns = list(dfa.columns)
list_columns

['idDrink',
 'strDrink',
 'strDrinkAlternate',
 'strDrinkES',
 'strDrinkDE',
 'strDrinkFR',
 'strDrinkZH-HANS',
 'strDrinkZH-HANT',
 'strTags',
 'strVideo',
 'strCategory',
 'strIBA',
 'strAlcoholic',
 'strGlass',
 'strInstructions',
 'strInstructionsES',
 'strInstructionsDE',
 'strInstructionsFR',
 'strInstructionsZH-HANS',
 'strInstructionsZH-HANT',
 'strDrinkThumb',
 'strIngredient1',
 'strIngredient2',
 'strIngredient3',
 'strIngredient4',
 'strIngredient5',
 'strIngredient6',
 'strIngredient7',
 'strIngredient8',
 'strIngredient9',
 'strIngredient10',
 'strIngredient11',
 'strIngredient12',
 'strIngredient13',
 'strIngredient14',
 'strIngredient15',
 'strMeasure1',
 'strMeasure2',
 'strMeasure3',
 'strMeasure4',
 'strMeasure5',
 'strMeasure6',
 'strMeasure7',
 'strMeasure8',
 'strMeasure9',
 'strMeasure10',
 'strMeasure11',
 'strMeasure12',
 'strMeasure13',
 'strMeasure14',
 'strMeasure15',
 'strCreativeCommonsConfirmed',
 'dateModified']

In [21]:
# columns re-arrange
drink_columns_rearranged = ['idDrink',
                            'strDrink',
                            'strDrinkAlternate',
                            'strDrinkES',
                            'strDrinkDE',
                            'strDrinkFR',
                            'strDrinkZH-HANS',
                            'strDrinkZH-HANT',
                            'strTags',
                            'strVideo',
                            'strCategory',
                            'strIBA',
                            'strAlcoholic',
                            'strGlass',
                            'strInstructions',
                            'strInstructionsES',
                            'strInstructionsDE',
                            'strInstructionsFR',
                            'strInstructionsZH-HANS',
                            'strInstructionsZH-HANT',
                            'strDrinkThumb',
                            'strIngredient1',
                            'strMeasure1',
                            'strIngredient2',
                            'strMeasure2',
                            'strIngredient3',
                            'strMeasure3',
                            'strIngredient4',
                            'strMeasure4',
                            'strIngredient5',
                            'strMeasure5',
                            'strIngredient6',
                            'strMeasure6',
                            'strIngredient7',
                            'strMeasure7',
                            'strIngredient8',
                            'strMeasure8',
                            'strIngredient9',
                            'strMeasure9',
                            'strIngredient10',
                            'strMeasure10',
                            'strIngredient11',
                            'strMeasure11',
                            'strIngredient12',
                            'strMeasure12',
                            'strIngredient13',
                            'strMeasure13',
                            'strIngredient14',
                            'strMeasure14',
                            'strIngredient15',
                            'strMeasure15',
                            'strCreativeCommonsConfirmed',
                            'dateModified']

In [22]:
dfa = dfa[drink_columns_rearranged]

In [23]:
dfa

,idDrink,strDrink,strDrinkAlternate,strDrinkES,strDrinkDE,strDrinkFR,strDrinkZH-HANS,strDrinkZH-HANT,strTags,strVideo,...,strIngredient12,strMeasure12,strIngredient13,strMeasure13,strIngredient14,strMeasure14,strIngredient15,strMeasure15,strCreativeCommonsConfirmed,dateModified
0,11007,Margarita,None,None,None,None,None,None,"IBA,ContemporaryClassic",None,...,None,None,None,None,None,None,None,None,No,2015-08-18 14:42:59

In [24]:
# Check example of meal and prepare dict and column order
# no need to re-arrange the function, since already gives every ingredient/measure column
df = get_meal_id(52795)
df

,idMeal,strMeal,strCategory,strArea,strInstructions,strMealThumb,strYoutube,strIngredient1,strIngredient2,strIngredient3,...,strMeasure12,strMeasure13,strMeasure14,strMeasure15,strMeasure16,strMeasure17,strMeasure18,strMeasure19,strMeasure20,strSource
0,52795,Chicken Handi,Chicken,Indian,"Take a large pot or wok, big enough to cook al...",https://www.themealdb.com/images/media/meals/w...,https://www.youtube.com/watch?v=IO0issT0Rmc,Chicken,Onion,Tomatoes,...,1 cup,¾ cup,3 tsp Dried,1 tsp,To taste,,,,,

In [25]:
list(df.columns)

['idMeal',
 'strMeal',
 'strCategory',
 'strArea',
 'strInstructions',
 'strMealThumb',
 'strYoutube',
 'strIngredient1',
 'strIngredient2',
 'strIngredient3',
 'strIngredient4',
 'strIngredient5',
 'strIngredient6',
 'strIngredient7',
 'strIngredient8',
 'strIngredient9',
 'strIngredient10',
 'strIngredient11',
 'strIngredient12',
 'strIngredient13',
 'strIngredient14',
 'strIngredient15',
 'strIngredient16',
 'strIngredient17',
 'strIngredient18',
 'strIngredient19',
 'strIngredient20',
 'strMeasure1',
 'strMeasure2',
 'strMeasure3',
 'strMeasure4',
 'strMeasure5',
 'strMeasure6',
 'strMeasure7',
 'strMeasure8',
 'strMeasure9',
 'strMeasure10',
 'strMeasure11',
 'strMeasure12',
 'strMeasure13',
 'strMeasure14',
 'strMeasure15',
 'strMeasure16',
 'strMeasure17',
 'strMeasure18',
 'strMeasure19',
 'strMeasure20',
 'strSource']

In [26]:
meal_columns_rearranged = ['idMeal',
                            'strMeal',
                            'strCategory',
                            'strArea',
                            'strInstructions',
                            'strMealThumb',
                            'strYoutube',
                            'strIngredient1',
                            'strMeasure1',
                            'strIngredient2',
                            'strMeasure2',
                            'strIngredient3',
                            'strMeasure3',
                            'strIngredient4',
                            'strMeasure4',
                            'strIngredient5',
                            'strMeasure5',
                            'strIngredient6',
                            'strMeasure6',
                            'strIngredient7',
                            'strMeasure7',
                            'strIngredient8',
                            'strMeasure8',
                            'strIngredient9',
                            'strMeasure9',
                            'strIngredient10',
                            'strMeasure10',
                            'strIngredient11',
                            'strMeasure11',
                            'strIngredient12',
                            'strMeasure12',
                            'strIngredient13',
                            'strMeasure13',
                            'strIngredient14',
                            'strMeasure14',
                            'strIngredient15',
                            'strMeasure15',
                            'strIngredient16',
                            'strMeasure16',
                            'strIngredient17',
                            'strMeasure17',
                            'strIngredient18',
                            'strMeasure18',
                            'strIngredient19',
                            'strMeasure19',
                            'strIngredient20',                       
                            'strMeasure20',
                             'strSource']

In [27]:
df = df[meal_columns_rearranged]

In [28]:
df

,idMeal,strMeal,strCategory,strArea,strInstructions,strMealThumb,strYoutube,strIngredient1,strMeasure1,strIngredient2,...,strMeasure16,strIngredient17,strMeasure17,strIngredient18,strMeasure18,strIngredient19,strMeasure19,strIngredient20,strMeasure20,strSource
0,52795,Chicken Handi,Chicken,Indian,"Take a large pot or wok, big enough to cook al...",https://www.themealdb.com/images/media/meals/w...,https://www.youtube.com/watch?v=IO0issT0Rmc,Chicken,1.2 kg,Onion,...,To taste,,,,,,,,,

In [29]:
meal_columns_dict = {'strMeal':'Meal Name',
                     'strCategory':'Category',
                     'strArea':'Origin',
                     'strInstructions':'Instructions',
                     'strIngredient1': 'Ingredient 1',
                     'strMeasure1': 'Measure 1',
                     'strIngredient2':'Ingredient 2',
                     'strMeasure2':'Measure 2',
                     'strIngredient3': 'Ingredient 3',
                     'strMeasure3':'Measure 3',
                     'strIngredient4': 'Ingredient 4',
                     'strMeasure4':'Measure 4',
                     'strIngredient5': 'Ingredient 5',
                     'strMeasure5':'Measure 5',
                     'strIngredient6': 'Ingredient 6',
                     'strMeasure6':'Measure 6',
                     'strIngredient7': 'Ingredient 7',
                     'strMeasure7':'Measure 7',
                     'strIngredient8': 'Ingredient 8',
                     'strMeasure8':'Measure 8',
                     'strIngredient9': 'Ingredient 9',
                     'strMeasure9':'Measure 9',
                     'strIngredient10': 'Ingredient 10',
                     'strMeasure10':'Measure 10',
                     'strIngredient11': 'Ingredient 11',
                     'strMeasure11':'Measure 11',
                     'strIngredient12': 'Ingredient 12',
                     'strMeasure12':'Measure 12',
                     'strIngredient13': 'Ingredient 13',
                     'strMeasure13':'Measure 13',
                     'strIngredient14': 'Ingredient 14',
                     'strMeasure14':'Measure 14',
                     'strIngredient15': 'Ingredient 15',
                     'strMeasure15':'Measure 15',
                     'strIngredient16': 'Ingredient 16',
                     'strMeasure16':'Measure 16',
                     'strIngredient17': 'Ingredient 17',
                     'strMeasure17':'Measure 17',
                     'strIngredient18': 'Ingredient 18',
                     'strMeasure18':'Measure 18',
                     'strIngredient19': 'Ingredient 19',
                     'strMeasure19':'Measure 19',
                     'strIngredient20': 'Ingredient 20',                       
                     'strMeasure20':'Measure 20'
}

In [30]:
# list of meal columns to drop
meal_columns_to_drop = ['idMeal', 'strMealThumb', 'strYoutube', 'strSource']