## Function to get user selection of the origin of the food and provide list of options

In [1]:
import pandas as pd
import requests
import json
import matplotlib
#pd.options.display.max_rows = 999
#pd.options.display.max_columns = 999

%matplotlib inline

In [2]:
# this function returns the list of the meals given origin
def meal_origin(origin):
    url = f"https://www.themealdb.com/api/json/v1/1/filter.php?a={str(origin)}"
    r = requests.get(url)
    df = pd.DataFrame(r.json()["meals"])
    return df.dropna(axis='columns', how='all')

In [3]:
# testing the function works
meal_origin("Canadian")

,strMeal,strMealThumb,idMeal
0,BeaverTails,https://www.themealdb.com/images/media/meals/r...,52928
1,Breakfast Potatoes,https://www.themealdb.com/images/media/meals/1...,52965
2,Canadian Butter Tarts,https://www.themealdb.com/images/media/meals/w...,52923
3,Montreal Smoked Meat,https://www.themealdb.com/images/media/meals/u...,52927
4,Nanaimo Bars,https://www.themealdb.com/images/media/meals/v...,52924
5,Pate Chinois,https://www.themealdb.com/images/media/meals/y...,52930
6,Pouding chomeur,https://www.themealdb.com/images/media/meals/y...,52932
7,Poutine,https://www.themealdb.com/images/media/meals/u...,52804
8,Rappie Pie,https://www.themealdb.com/images/media/meals/r...,52933
9,Split Pea Soup,https://www.themealdb.com/images/media/meals/x...,52925
10,Sugar Pie,https://www.themealdb.com/images/media/meals/y...,52931
11,Timbits,https://www.themealdb.com/images/media/meals/t...,52929
12,Tourtiere,https://www.themealdb.com/images/media/meals/y...,52926

In [4]:
# Check the different values of the area
url_list_origin = "https://www.themealdb.com/api/json/v1/1/list.php?a=list"
ra = requests.get(url_list_origin)
df = pd.DataFrame(ra.json()["meals"])
df

       strArea
0     American
1      British
2     Canadian
3      Chinese
4        Dutch
5     Egyptian
6       French
7        Greek
8       Indian
9        Irish
10     Italian
11    Jamaican
12    Japanese
13      Kenyan
14   Malaysian
15     Mexican
16    Moroccan
17     Russian
18     Spanish
19        Thai
20    Tunisian
21     Turkish
22     Unknown
23  Vietnamese

In [7]:
# The string needs to be exact, otherwise, find nothing
meal_origin("turkish")

  strMeal                                       strMealThumb idMeal
0   Corba  https://www.themealdb.com/images/media/meals/5...  52977
1  Kumpir  https://www.themealdb.com/images/media/meals/m...  52978

In [6]:
# Requires to create a function to generate a list